   # Python
   __pycache__/
   *.py[cod]
   *$py.class
   .ipynb_checkpoints/
   
   # Conda/Virtual environments
   env/
   venv/
   
   # Large image files (optional - if you don't want to track them)
   *.png
   *.jpg
   *.npz
   
   # macOS
   .DS_Store